<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="criminal.css">
    <title>Criminal</title>
</head>

<body>
    <div class="navbar">
        <nav>
            <h3 id="policeId"></h3>
            <ul>
                <li><a href="/criminal"> View Criminal Records</a></li>
                <li><a href="/arrests" id="arrestBtn">Arrests</a></li>
                <li><a href="/" id="logoutBtn">Logout</a></li>
            </ul>
        </nav>
        <div id="errorMsg" style="visibility: hidden;">
            No Data Found!!
        </div>
        <div id="tablewrap">
            <table>
                <tr>
                    <th>Case ID</th>
                    <th>Name</th>
                    <th>Criminal ID</th>
                    <!-- <th>Father's Name</th> -->
                    <th>Arrested For</th>
                    <th>Date</th>
                    <th>Modify/Delete</th>
                </tr>
                <!-- <%if(userData.length!=0){ var i=1; userData.forEach(function(data){ %>
                    <tr> -->
                <!-- <td><%=i; %></td> -->
                <!-- <td><%=data.Arrest></td>
                    <td><%=data.CName %></td>
                    <td><%=data.CriminalID %></td>
                    <td><%=data.FatherName %></td>
                    <td><%=data.reason %></td>
                    <td><%=data.date %></td>
                </tr>
                <%  i++; }) %>
                <% } else{ %>
                <tr>
                    <td colspan="7">No Data Found</td>
                </tr>
                <% } %> -->
            </table>
        </div>
        <script src="/criminal.js"></script>
</body>

</html>