<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="criminal.css">
    <title>Document</title>
</head>

<body>
    <div class="navbar">
        <nav>
            <h3 class="policeId"></h3>
            <ul>
                <li><a href="/criminal"> View Criminal Records</a></li>
                <li><a href="/arrests">Arrests</a></li>
                <li><a href="/">Logout</a></li>
            </ul>
        </nav>
        <div class="tablewrap">
            <table>
                <tr>
                    <th>Name</th>
                    <th>Criminal ID</th>
                    <th>Father's Name</th>
                    <th>Arrested For</th>
                    <th>Date</th>
                </tr>
                <%
        if(userData.length!=0){
        var i=1;
        userData.forEach(function(data){
        %>
                <tr>
                    <!-- <td><%=i; %></td> -->
                    <td><%=data.CName %></td>
                    <td><%=data.CriminalID %></td>
                    <td><%=data.FatherName %></td>
                    <td><%=data.reason %></td>
                    <td><%=data.date %></td>
                </tr>
                <%  i++; }) %>
                <% } else{ %>
                <tr>
                    <td colspan="7">No Data Found</td>
                </tr>
                <% } %>
            </table>
        </div>
</body>

</html>